h1{
  text-align: center;
  font-size: 3em;
  font-family: sans-serif;
  margin-bottom: -10px;
  margin-top: -5px;
}
#checker-board{
  border: 2.5px #2F2F2F solid;
  width: 720px;
  height: 720px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.white-cell{
  width: 90px;
  height: 90px;
  background-color: #FFFFF2;
  float: left;
  border-radius: 2px;
}
.checker-piece{
  width: 85px;
  height: 85px;
  margin: 2px 0 0 2px;
}
.black-cell{
  width: 90px;
  height: 90px;
  background-color: #2F2F2F;
  float: left;
  border-radius: 2px;
}
.yellow-cell{
  width: 90px;
  height: 90px;
  background-color: #FDFF94;
  float: left;
}
.black-piece{
  background-size: 78px 78px;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url(images/black2.png);
}
.red-piece{
  background-size: 78px 78px;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url(images/red2.png);
}
.black-king-piece{
  background-size: 78px 78px;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url(images/king-black2.png);
}
.red-king-piece{
  background-size: 78px 78px;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url(images/king-red2.png);
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.main-content{
  margin-left: auto;
  margin-right: auto;
  min-width: 720px!important;
}
